body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    background-color: rgb(245, 245, 245);
}

.font {
    font-family: 'Roboto', sans-serif;
}

.font--light {
    font-weight: lighter;
}

.font--large {
    font-size: 50px;
}

.shadow {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

.hidden {
    display: none;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.container__ribbon {
    width: 100%;
    height: 50vh;
}

.container__ribbon--bluegrey {
    background-color: #455A64;
}

.container__ribbon--indigo {
    background-color: #3F51B5;
}

.container__ribbon--green {
    background-color: #43A047;
}

.container__ribbon--orange {
    background-color: #FF9800;
}

.container__contentbox {
    max-width: 1600px;
    width: calc(100% - 16px);
    margin: -35vh auto 0;
}

.contentbox__content {
    box-sizing: border-box;
    background: white;
    padding: 80px 56px;
    width: calc(66.6666666667% - 16px);
    border-radius: 2px;
    margin: 8px auto 50px;
    min-height: 650px;
}

.content__header {
    text-align: center;
}

.content__text {
    line-height: 28px;
    margin: 16px auto;
    color: #616161;
}

.content__text--align-centre {
	text-align: center;
} 

.content__wrapper {
    display: inline-block;
    margin-top: -18px;
    padding-right: 50px;
    vertical-align: top;
}

.wrapper__item {
	padding-bottom: 10px;
}

.content__list {
    list-style-type: none;
}

.content__link {
    color: #616161;
    padding: inherit;
    text-decoration: none;
    border-left: 3px solid;
    border-left-color: #FF9800;
    padding-left: 10px;
}

.content__link:hover,
.content__link:active {
    color: #FF9800;
}

.header__title {
    margin: 0px;
}

.header__title--large {
    font-size: 50px;
}

.header__nav {
    padding-bottom: 20px;
    padding-top: 20px;
}

.nav__container {
    margin: 0px;
    display: inline-block;
    padding: 0 10px 0 10px;
    font-size: 20px;
}

.nav__link {
    color: black;
    padding: inherit;
    text-decoration: none;
    border-left: 3px solid;
}

.nav__link--no-border {
    color: black;
    padding: inherit;
    text-decoration: none;
}

.nav__link--cyan {
    border-color: #00BFA5;
}

.nav__link--cyan:hover,
.nav__link--cyan:active {
    color: #1DE9B6;
}

.nav__link--red {
    border-color: #FF1744;
}

.nav__link--red:hover,
.nav__link--red:active {
    color: #FF5252;
}

.nav__link--yellow {
    border-color: #FFD600;
}

.nav__link--yellow:hover,
.nav__link--yellow:active {
    color: #FFEA00;
}

.nav__link--green {
    border-color: #64DD17;
}

.nav__link--green:hover,
.nav__link--green:active {
    color: #76FF03;
}

.header__divider {
    line-height: 1.6em;
    margin-bottom: 1.6em;
    border-bottom: 2px solid;
}

.header__divider--cyan {
    color: #1DE9B6;
}

.header__divider--red {
    color: #FF5252;
}

.header__divider--yellow {
    color: #FFEA00;
}

.header__divider--green {
    color: #76FF03;
}

@media only screen and (min-width: 300px) {
    .container__contentbox {
        margin: -45vh auto 0;
    }
    .contentbox__content {
        width: 100%;
        margin: 8px auto 20px;
    }
    .content__header {
        text-align: left;
    }

    .content__wrapper {
    	padding-right: 25px;
    }
}

@media only screen and (min-width: 900px) {
    .container__contentbox {
        margin: -35vh auto 0;
    }
    .contentbox__content {
        width: calc(66.6666666667% - 16px);
        margin: 8px auto 50px;
    }
    .content__header {
        text-align: center;
    }

    .content__wrapper {
    	padding-right: 50px;
    }
}
